

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.frame { 
    display: grid;
    grid-template-columns: 100px 1fr 200px 1fr 100px;
    grid-template-rows: 125px auto;
    grid-column-gap: 10px;
}

.announcement {
    background-color: black;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
}

#gameover {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;

}

#winner {
    color: white;
    text-align: center;
    font-size: 20;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;

}

#playagainbtn {
    color: black;
    font-size: 20px;
    border-radius: 5px;
    margin: auto;
    display: block;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.header {
    grid-column: 2 / 5;
    background-color: white;
}

#rpstitle {
    font-size: 42px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
}

#scoretitle {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
}

.scorecontainer {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr 100px;
    grid-template-rows: 150px auto;
    padding-top: 60px;
}

#leftscoreframe {
    grid-column: 2;
    border: solid .5px black;
    border-radius: 10px;
}

#vs {
    grid-column: 3;
    text-align: center;
    font-family:  'Raleway', sans-serif;
    padding-top: 20px;
}

#rightscoreframe {
    grid-column: 4;
    border: solid .5px black;
    border-radius: 10px;
}

#playerscore {
    text-align: center;
}

#computerscore {
    text-align: center;
}

#round {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    font-size: 24px;
    grid-column: 1 / 6;
    grid-row: 4;
}

#countdown {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    grid-column: 3;
    grid-row: 5;
    margin: 0;
}

#instructions {
    font-family:  'Raleway', sans-serif;
    text-align: center;
    font-size: 14px;
    grid-column: 1 / 6;
    grid-row: 5;

}

.selectcontainer {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 100px 250px 1fr 250px 100px;
    grid-template-rows: 1fr 1fr 1fr 150px 150px 150px;
    grid-row-gap: 10px;
    padding-bottom: 50px;
}

.rockselect {
    grid-column: 2;
    grid-row: 4;
    border-radius: 10px;
    background-color: #D1C5B7;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    border: solid 1px black;
}


.paperselect {
    grid-column: 2;
    grid-row: 5;
    border-radius: 10px;
    background-color: lightgray;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    border: solid 1px black;
}

.scissorsselect {
    grid-column: 2;
    grid-row: 6;
    border-radius: 10px;
    background-color: #B7D1B8;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    border: solid 1px black;
}

.c-selectrock {
    grid-column: 4;
    grid-row: 4;
    background-color: black;
    border-radius: 10px;
    border: solid 1px black;
}

.c-selectpaper {
    grid-column: 4;
    grid-row: 5;
    background-color: black;
    border-radius: 10px;
    border: solid 1px black;
}

.c-selectscissors {
    grid-column: 4;
    grid-row: 6;
    background-color: black;
    border-radius: 10px;
    border: solid 1px black;
}

.mystery {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}


#playerpoints {
    font-size: 30px;
}

#computerpoints {
    font-size: 30px;
}

.clicky {
    cursor: pointer;
}


 /* Large Devices, Wide Screens */
 @media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .frame { 
    display: grid;
    grid-template-columns: 20px 1fr 200px 1fr 20px;
    grid-template-rows: 125px auto;
    grid-column-gap: 10px;
    }

    #computerpoints {
        margin-top: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .frame { 
        display: grid;
        grid-template-columns: 20px 1fr 200px 1fr 20px;
        grid-template-rows: 125px auto;
        grid-column-gap: 10px;
    }

    .scorecontainer {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 10px 1fr 100px 1fr 10px;
        grid-template-rows: 150px auto;
        padding-top: 60px;
    }
    .selectcontainer {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 10px 200px 1fr 200px 10px;
        grid-template-rows: 1fr 1fr 1fr 150px 150px 150px;
        grid-row-gap: 10px;
        padding-bottom: 50px;
    }
}

/* Extra Small Devices, Phones  
@media only screen and (max-width : 480px) {
    .scorecontainer {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 10px 1fr 100px 1fr 10px;
        grid-template-rows: 170px auto;
        padding-top: 20px;
    }

    #aititle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #youtitle {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #playerpoints {
        margin-top: 10px;
    }

    #computerpoints {
        margin-top: 10px;
    }
} */

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .scorecontainer {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 10px 1fr 100px 1fr 10px;
        grid-template-rows: 170px auto;
        padding-top: 20px;
    }

    .selectcontainer {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: 10px 125px 1fr 125px 10px;
        grid-template-rows: 1fr 1fr 1fr 125px 125px 125px;
        grid-row-gap: 10px;
        padding-bottom: 50px;
    }

    #aititle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #youtitle {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #playerpoints {
        margin-top: 10px;
    }

    #computerpoints {
        margin-top: 10px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
